In [3]:
#import libraries
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

In [4]:
# download the original data
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=0)[0]

df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [29]:
#drop the not assigned cell

df1 = df[ ~ df['Borough'].str.contains('Not assigned') ]  

df1.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [30]:
# split the data
df2 = df1.drop('Neighborhood', axis=1).join(df1['Neighborhood'].str.split('/', expand=True).stack().reset_index(level=1, drop=True).rename('Neighborhood'))
df2.head()

  Postal code           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Regent Park
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York   Lawrence Manor

In [33]:
# joint the data
def ab(df2):
    return','.join(df2.values)
    

df2 = df2.groupby(['Postal code','Borough'])['Neighborhood'].apply(ab)
df2 = df2.reset_index()
df2.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern , Rouge
1         M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2         M1E  Scarborough       Guildwood , Morningside , West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

# there are 4 steps for me to prepare the dataframe
 ## 1.download the original data
 ## 2.delete the row that 'borough' is not assigned
 ## 3.seperate the data to make sure every row contains only 1 neighborhood
 ## 4.combine the data and use the','split every neighborhood

In [34]:
df2.shape

(103, 3)